<h2>Person Information</h2>
<div>
    <input type="text" name="firstName" id="firstName" placeholder="First Name"  class="form-control"
        [(ngModel)]="person.firstName">
    <p>{{person.firstName}}</p>
</div>
<div>
    <input type="text" name="lastName" id="lastName" placeholder="Last Name"  class="form-control"
        [(ngModel)]="person.lastName">
    <p>{{person.lastName}}</p>
</div>

<div>
    <input type="email" name="email" id="email" placeholder="Email"  class="form-control"
        [(ngModel)]="person.email">
    <p>{{person.email}}</p>
</div>

<div>
    <input type="text" name="age" id="age" placeholder="Age"  class="form-control"
        [(ngModel)]="person.age">
    <p>{{person.age}}</p>
</div>

<button [disabled]="isDisabled" class="btn btn-primary" (click)="addPerson(person.firstName,person.lastName,person.email,person.age)">{{btnTxt}}</button>

<table class="table" *ngIf="personList.length>0">

    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr [ngStyle]="{'background-color':getBackgroundColor(person.age)}"> -->
        <tr  *ngFor="let p of personList" [ngClass]="getStyleClass(p.age)">
            <td>{{p.firstName}} {{p.lastName}}</td>
            <td>{{p.email}}</td>
            <td>{{p.age}}</td>
        </tr>
    </tbody>

</table>

<div [ngSwitch]="date.getDay()">

    <div *ngSwitchCase="1">Monday</div>
    <div *ngSwitchCase="2">Tuesday</div>
    <div *ngSwitchCase="3">Wednesday</div>
    <div *ngSwitchCase="4">Thursday</div>
    <div *ngSwitchCase="5">Friday</div>
    <div *ngSwitchCase="6">Saturday</div>
    <div *ngSwitchCase="7">Sunday</div>

</div>