<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

<bean id="airtelSim" class="com.btc.springapp.AirtelSim"/>
<bean id="jioSim" class="com.btc.springapp.JioSim"/>

<bean id="viSim" class="com.btc.springapp.VISim">
<constructor-arg name="value" value="Blah"></constructor-arg>
</bean>

<bean id="phone1" class="com.btc.springapp.Phone">
<property name="sim" ref="viSim"/>
<property name="brand" value="Samsung"/>
<property name="ram" value="8"/>
<property name="networks">
<list>
<value>5G</value>
<value>4G LTE</value>
<value>HSPA</value>
<value>GSM</value>
</list>
</property>
</bean>


<bean id="phone2" class="com.btc.springapp.Phone">
<constructor-arg name="brand" value="Apple"/>
<constructor-arg name="ram" value="4"/>
<property name="sim" ref="jioSim"/>
<property name="networks">
<list>
<value>4G LTE</value>
<value>HSPA</value>
<value>GSM</value>
</list>
</property>
</bean>

</beans>